body {
    /* display: flex; */
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    /* margin-top: 30px; */
    z-index: 1;
    position: absolute;
    overflow: auto;
    /* justify-content: center; */
    /* display: flex; */
    /* flex-direction: column; */
}

.modalContent {
    width: 50%;
    height: 70%;
    background-color: #3F64BB;
    margin: 15% auto;
}

#exitArea {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: right;
}

#exitArea:hover {
    cursor: pointer;
}

#exitButton {
    /* justify-content: flex-end; */
    /* display: inline-block; */
    margin: 25%
}

.modal h1 {
    color: white;
    font-size: 34px;
    padding: 50px 0 0 50px;
}

.modal h2 {
    color: white;
    letter-spacing: 1.5px;
    font-family: 'Oswald', sans-serif;
}

form {
    margin-left: 50px;
}

input[type=submit] {
    background-color: white;
    color: #3D3D3D;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    height: 35px;
    width: 60px;
}

input[type=text] {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* height: 20px; */
    line-height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    width: 80%;
}

textarea {
    width: 80%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    /* line-height: 50px; */
}

@media  (max-width: 650px)  {
    .modal h1 {
        font-size: 30px;
        /* overflow: hidden; */
    }

    .modalContent {
        width: 80%;
        height: 75%;
        background-color: #3F64BB;
        margin: 15% auto;
    }
}